.input_box:not(:last-child) {
  margin-bottom: 1rem;
}

.input_box label,
.input_box input {
  display: block;
  width: 100%;
  color: var(--marine-blue);
}

.input_box label {
  margin-bottom: 5px;
}

.input_box input {
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
}

.input_box :focus {
  border-color: var(--marine-blue);
}