.FormControls {
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 40rem) {
  .FormControls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: var(--white);
  }
}