.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 600px;
  width: 100%;
  max-width: 916.16px;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  border-radius: 4px;
  margin: auto;
}

@media only screen and (max-width: 40rem) {
  .App {
    grid-template-columns: 1fr;
    height: unset;
    width: 100vw;
    padding: unset;
    background-color: unset;
    box-shadow: unset;
  }
}