.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 600px;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  border-radius: 4px;
}

.form {
  display: grid;
  padding: 2rem 4rem;
}

.form_controls {
  align-self: end;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}